@import "bootstrap-variables";

.nuxt-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  width: 35%;
  top: 2rem;
}
.bg-petro-logo {
  height: 30vh;
  background: #fafafa;
}
.bv-row {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -2rem;
}
.border-text-area {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.txtEr8xn {
  border: 0px solid #ffffff !important;
  overflow-y: hidden !important;
  padding: 1rem;
}
.txtEr8xn:focus {
  border-color: transparent;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0),
    0 0 8px rgba(255, 255, 255, 0);
}

// Button reset textarea
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  cursor: pointer;
  background: #ccc;
  border-radius: 50%;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 14px;
  top: 5px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 690px) {
  .navbar {
    display: none;
  }
  .nuxt-logo {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    top: 0rem;
  }
  .bg-petro-logo {
    height: auto;
  }
  .border-text-area > .list-group {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .sm-col{
    flex-direction: column;
  }
  .close {
    right: 20px;
    top: 10px;
  }
  .bv-row {
    margin-top: 2rem;
}
}
